a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */
.title-contents {
  width: 100vw;
  background-image: image-url('198.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  margin-left: auto;
  margin-right: auto;
}

.service-title {
  font-size: 6vh;
  margin-left: auto;
  margin-right: auto;
}

.service-title-roommate {
font-weight: bold;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.find-title{
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.fas {
  margin-left: auto;
  margin-right: auto; 
}



.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
  border-radius: 10px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}



.search-icon {
  display: inline-block;
  padding: 0.5em 1em;
  background: #87befd;
  color: #FFF;
  transition: .4s;
  border-radius: 10px;
}

.search-icon:hover {
  background: #668ad8;
}

.btn-circle-flat {
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px; 
}

.btn-circle-flat:hover {
  background: #668ad8;
}
/* //画面上部の「人生を変えるフリマアプリ」帯部分 */

/* FURIMAが選ばれる3つの理由部分 */



.list-pict {
  margin-bottom: 20px;
  width: 100%;

}



/* //FURIMAが選ばれる3つの理由部分 */


/* 画面中央の「会員数日本一位」帯部分*/
.ad-contents {
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color:black;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.ad-title {
  font-size: 5vh;
  margin-top: 8vh;
  margin-bottom: 8vh;
  margin-left: auto;
  margin-right: auto;
}

.ad-explain {
  font-size: 2.5vh;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
}


/* //画面中央の「会員数日本一位」帯部分 */

/* FURIMAの特徴 */
.feature-contents {
  margin-top: 8vh;
  padding: 5vh 15vw;
  background: #dee6f0
}

.feature-contents>.title {
  text-align: center;
  font-size: 4vh;
  margin-bottom: 5vh;
  position: relative;
}



.subtitle{
  font-weight: bold;
}

.feature-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAの特徴 */

/* 商品一覧 */

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #dee6f0;
}

.item-lists>.list {
  width: 37vh;
  padding:1vw;
  background-color: #dee6f0;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
  line-height: 120px;
  border-radius: 50%;
}

.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.sold-out>span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}


.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
  background-color: #dee6f0;
}



.item-address {
  font-size: 2.5vh;

}

.user-name{
  font-size: 2.5vh;
}


.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}



