.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.login-red-btn {
  width: 60%;
  background: skyblue;
  border: none;
  color: #fff;
  line-height: 48px;
  font-size: 20px;
  cursor: pointer;
 
}

.login-flash-message {
  text-align: center;
  color: red;
}